<div class="container">
    <h3> Exercicio 10</h3>
    <div class="form-group">
      <select #modo ngModel>
        <option value="">Selecione uma opção</option>
        <option value="1">Produto 11</option>
        <option value="2">Produto 22</option>
        <option value="3">Produto 33</option>
        <option value="4">Produto 44</option>
        <option value="5">Produto 55</option>
        </select>
        <div [ngSwitch]="modo.value">
        <p *ngSwitchCase="'11'">Modo Produto1 ativado</p>
        <p *ngSwitchCase="'22'">Modo Produto2 ativado</p>
        <p *ngSwitchCase="'33'">Modo Produto3 ativado</p>
        <p *ngSwitchCase="'44'">Modo Produto4 ativado</p>
        <p *ngSwitchCase="'55'">Modo Produto1 ativado</p>
        <p *ngSwitchDefault>Modo padrão ativado</p>
       <!-- <p {{ modo.value }}> </p> -->
        </div>
    </div>
</div>
