<div class="container">
    <h3> Exercicio 4</h3>
    <div class="form-group">
      <label for = "far"> Graus Farenheit</label>
      <input id ="far" class="form-control" type="text" [(ngModel)] ="farStr" />
    </div>
    <button class=" btn btn-primary" (click)="converter()" type="button">
      Converter
    </button>
    Resultado: {{celsiusStr}}

    <div class="alert"  role="alert"
        [hidden]="valorInvalido === ''"
        [class.alert-warning]="valorInvalido === ''" >

        {{ valorInvalido}}

    </div>

</div>
