<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-celsius2></app-celsius2> -->

<!-- <router-outlet></router-outlet>  1234 -->
<!-- <app-pedidos> </app-pedidos> -->
<router-outlet></router-outlet>
<div class="container">
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Módulo
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" routerLink="/pedidos">Pedidos</button>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>
